#hero{
    height:200px;
    background-color: rgb(10, 10, 68);
    color: whitesmoke;
    text-align: center;
}

#card{
    color:white;
    background-color: rgb(10, 10, 68)!important;
}


#list{
    border-bottom:1px solid rgba(10, 10, 68, 0.201);
    padding:5px;
    margin:5px;
    width:100%;
}

#olist{
    border-top: 2px solid black;
}

#button{
    background-color:rgb(10, 10, 68);
    margin-top:5px;
}

input{
    width:100% !important;
}

.modal-header,.modal-footer{
    background-color: rgb(10, 10, 68);
    color:white;
}

th{
    border: 1px solid white !important;
    padding:10px;
}

table{
    width: 100% !important;
    background-color: orange;
    color:white;
    border:2px solid orange;
}

.blue{
    background-color:rgb(10, 10, 68);
}

